@import "tailwindcss";

:root {
  --background: #e6eafb;
  --navbar: #B5C0F4;
  --surface: #ffffff;
  --border-header: #EAEBEC;
  --border-input: #EAEBEC;
  --button-primary: #4270e3;
  --primary-hover: #2c4fa5;
  --white-hover: #D6DCF7;
  --accent: #7f3afa;
  --text-primary: #161618;
  --text-secondary: #535459;
  --action-button: #F5F6FB;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0132;
    --navbar: #1A1C3A;
    --surface: #161618;
    --border-header: #29293399;
    --border: #333337;
    --primary: #7f3afa;
    --primary-hover: #5b0dc3;
    --accent: #4270e3;
    --text: #e6eafb;
    --text-secondary: #9b9ca1;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-navbar: var(--navbar);
  --color-surface: var(--surface);
  --color-header: var(--border-header);
  --color-input: var(--border-input);
  --color-button-primary: var(--button-primary);
  --color-primary-hover: var(--primary-hover);
  --color-white-hover: var(--white-hover);
  --color-accent: var(--accent);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-action-button: var(--action-button);

  --radius-card: 16px;
  --radius-large: 24px;

  --shadow-card: 0 1px 4px rgba(0,0,0,0.06);
}

.shadow-card {
  box-shadow: var(--shadow-card);
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-sans, system-ui, sans-serif);
  @apply antialiased;
}

@layer components {

  /* auth form */
  .form-item {
    @apply flex flex-col gap-1 mb-2 sm:mb-4;
  }

  .form-input {
    @apply relative h-fit;
  }

  .form-item .form-input span {
    @apply absolute left-0 bg-input h-full w-10 md:w-12 rounded-2xl flex top-0 justify-center items-center text-2xl text-button-primary;
  }

  .form-item label {
    @apply md:text-[18px] text-secondary;
  }

  .form-item input {
    @apply w-full rounded-xl border-[3px] md:border-4 border-input pl-12 md:pl-14 bg-white px-3 py-1.5 md:py-2 text-[#161618] placeholder:text-[#9B9CA1] focus:outline-none focus:ring-2 focus:ring-[#4270E3] focus:border-transparent transition;
  }

  .or-divider {
    @apply flex items-center justify-center text-input font-medium text-[14px] my-5 mt-1.5 sm:mt-3 md:mt-5 mb-1.5 md:mb-3;
  }

  .or-divider::before,
  .or-divider::after {
    content: "";
    @apply block w-[110px] sm:w-[120px] md:w-[140px] h-px bg-input mx-3.5 opacity-50;
  }
}
